<h3>Rediger reservationen</h3>

<EditForm Model="@Res">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="fornavn">Fornavn</label>
        <InputText placeholder="@Res.Guest.Name" @bind-Value="Res.Guest.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="telefonnummer">Telefonnummer</label>
        <InputText placeholder="@Res.Guest.PhoneNumber" @bind-Value="Res.Guest.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label for="mail">Mail</label>
        <InputText placeholder="@Res.Guest.Mail" @bind-Value="Res.Guest.Mail" class="form-control" />
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <InputText placeholder="@Res.Guest.Address" @bind-Value="Res.Guest.Address" class="form-control" />
    </div>

    <div class="form-group">
        <label for="startDato">StartDato</label>
        <InputDate placeholder="@Res.GetStartDate()" @bind-Value="StartDate" class="form-control" />
    </div>

    <div class="form-group">
        <label for="finishDato">FinishDato</label>
        <InputDate placeholder="@Res.GetEndDate()" @bind-Value="EndDate" class="form-control" />
    </div>

    <button type="submit" @onclick="ChangeCurrentReservation" class="btn btn-primary">Gem</button>
</EditForm>

@code {
    private DateTime StartDate;
    private DateTime EndDate;
    [Parameter]
    public Reservation Res { get; set; }

    [Parameter]
    public EventCallback<Reservation> ResChanged { get; set; }

    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public EventCallback<bool> EditModeChanged { get; set; }


    public async Task ChangeCurrentReservation()
    {
        Res.SetStartDate(StartDate);
        Res.SetEndDate(EndDate);
        //Skal ændre reservationen i databasen
        await ResChanged.InvokeAsync(Res);
        await EditModeChanged.InvokeAsync(!EditMode);
    }

}
