<h3>Kalender</h3>


<h3>
    @Months[DateNow.Month - 1]
    @ShowMonth.Year
    @ShowMonth.Month
    @ShowMonth.Day
</h3>

<Button Title="Næste måned" Css = "btn btn-primary" Onclick = "NextMonth">
</Button>

<table>
    <tr>
        @foreach (var Day in WeekDays)
        {
            <th>@Day</th>
        }
    </tr>

    @for (int i = 0; i < 6; i++)
    { 
        <tr>
            @for (int j = 0; j < 7; j++)
            {
                DateTime date = startDate.AddDays(daycounter++);

                <td>@date.Day</td>
            }
        </tr>
    }
</table>



@code {

    public string[] WeekDays = { "mandag", "tirsdag", "onsdag", "torsdag", "fredag", "lørdag", "søndag" };
    public string[] Months = { "Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December" };

    public static DateTime DateNow = DateTime.Now;
    public DateTime ShowMonth = new DateTime();

    public static DateTime firstDayOfTheMonth = new DateTime(DateNow.Year, DateNow.Month, 1);
    public DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek + 1);

    public int daycounter = 0;

    private void NextMonth()
        {
        startDate.AddMonths(1);
        
        
        }
}
