@page "/log"
@inject NavigationManager NavigationManager

@foreach (var reservationID in TestReservationList.ListOfReservations)
{<tr>
        <button class="btn btn-primary" type="submit">
            Reservations ID @reservationID.ID <br />
            Bekræftet: @(reservationID.Confirmed == true ? "Ja" : "Nej") <br />
            Tidspunkt: @reservationID.ReservationFormatDates() <br />
        </button>
    </tr>
}

@foreach (var reservationDetail in TestReservationList.ListOfReservations)
{
    <p>
        Reservation @reservationDetail.ID
    </p>
    <p>
        Bekræftet: @(reservationDetail.Confirmed == true ? "Ja" : "Nej")
    </p>
    <p>
        Tidspunkt: @reservationDetail.ReservationFormatDates()
    </p>
    <p>
        Gæst: @reservationDetail.CitizenGuest.GuestFullName()
    </p>
    <p>
        Telefonnumer: @reservationDetail.CitizenGuest.PhoneNumber
    </p>
    <p>
        Email: @reservationDetail.CitizenGuest.Mail
    </p>
    <p>
        Rengøring: @(reservationDetail.Cleaning == true ? "Ja" : "Nej")
    </p>
    <p>
        Eventuelle info: @reservationDetail.OtherInfo
    </p>

    <button @onclick="RedirectToChange" @bind="reservationDetail.ID">Ændre reservationen</button>
    <p>
        <br />
        ------------------------------------------------
    </p>
}

@code {
    public void RedirectToChange(int reservation)
    {

        NavigationManager.NavigateTo("/change");
    }
    //Det her var et forsøg på at vise listen på andre måder
    //  public void ShowList2()
    //    {
    //    ReservationDetailHTML ReservationID="@reservationsID"></ReservationDetailHTML>
    //  }
    //Task
    //  public async Task ShowList1(Reservation reservation)
    //  {
    //      await Console.WriteLine(ListOfReservations[(reservation.ID)].CitizenGuest.LastName);
    //  }


}
