@inject IJSRuntime JSRuntime
<h4>Gæsteinfo</h4>
@if (ShowThis.CitizenGuest.FirstName != null)
{
    <div>
        <p>
            Navn: @ShowThis.CitizenGuest.FirstName @ShowThis.CitizenGuest.LastName
        </p>
        <p>
            TelefonNummer: @ShowThis.CitizenGuest.PhoneNumber
        </p>
        <p>
            Mail: @ShowThis.CitizenGuest.Mail
        </p>
        <p>
            Konto og Registrerings nummer: @ShowThis.CitizenGuest.AccountNumber + @ShowThis.CitizenGuest.RegistrationNumber
        </p>
    </div>
    <h4>
        Reservations info
    </h4>
    <div>
        <p>
            Reservations periode
        </p>
        <p>
            Fra @ShowThis.StartDate.ToShortDateString() til @ShowThis.FinishDate.ToShortDateString()
        </p>
        <p>
            Jeg er over 18 <input type="checkbox" checked="@ShowThis.CitizenGuest.IsOver18" onclick="return false;">
        </p>
        <p>
            Jeg gør selv rent <input type="checkbox" checked="@ShowThis.Cleaning" onclick="return false;">
        </p>
        <h5>Yderligere information</h5>
        <p>
            @ShowThis.OtherInfo
        </p>
        @if (ShowThis.Confirmed == false)
        {
            <p>
                <button class="btn btn-primary" @onclick="Confirme">Bekræft</button>
            </p>
        }

        <p>
            <button class="btn btn-primary" @onclick="DeleteReservation">@(ShowThis.Confirmed == true? "Slet":"Annuller")</button>
            <button class="btn btn-primary" @onclick="ChangeEditMode">Rediger</button>
        </p>


    </div>
}

@code {
    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public EventCallback<bool> EditModeChanged { get; set; }

    public async Task ChangeEditMode()
    {
        await EditModeChanged.InvokeAsync(!EditMode);
    }


    [Parameter]
    public Reservation ShowThis { get; set; }

    [Parameter]
    public EventCallback<Reservation> ShowThisChanged { get; set; }

    [Parameter]
    public List<Reservation> ListOfReservations { get; set; }

    async Task DeleteReservation()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil slette denne reservation?"))
            return;
        ListOfReservations.RemoveAt(ShowThis.ID);
        //ShowThis = new Reservation();
        //Delete from DB
        await ShowThisChanged.InvokeAsync(ShowThis);

    }

    async Task Confirme()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil bekræfte denne reservation?"))
            return;

        ShowThis.Confirmed = true;
        await ShowThisChanged.InvokeAsync(ShowThis);

    }
}
