@inject IJSRuntime JSRuntime

<h4>Gæsteinfo</h4>
@if (ShowThisRes != null)
{
    <div>
        <p>
            Navn: @ShowThisRes.Guest.Name
        </p>
        <p>
            TelefonNummer: @ShowThisRes.Guest.PhoneNumber
        </p>
        <p>
            Mail: @ShowThisRes.Guest.Mail
        </p>
    </div>
    <h4>
        Reservations info
    </h4>
    <div>
        <p>
            Reservations periode
        </p>
        <p>
            @ShowThisRes.ReservationPeriod()
        </p>
    </div>
        @if (ShowThisRes.Confirmed == false)
        {
            <p>
                <button class="btn btn-primary" @onclick="Confirme">Bekræft</button>
            </p>
        }

        <p>
            <button class="btn btn-primary" @onclick="DeleteReservation">@(ShowThisRes.Confirmed == true? "Slet":"Annuller")</button>
            <button class="btn btn-primary" @onclick="ChangeEditMode">Rediger</button>
        </p>
}

@code {
    [Parameter]
    public bool EditMode { get; set; }

    [Parameter]
    public EventCallback<bool> EditModeChanged { get; set; }

    public async Task ChangeEditMode()
    {
        await EditModeChanged.InvokeAsync(!EditMode);
    }

    [Parameter]
    public Reservation ShowThisRes { get; set; }

    [Parameter]
    public EventCallback<Reservation> ShowThisResChanged { get; set; }

    [Parameter]
    public List<Reservation> Reservations { get; set; }

    [Parameter]
    public EventCallback<List<Reservation>> ReservationsChanged { get; set; }

    async Task DeleteReservation()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil slette denne reservation?"))
            return;
        ShowThisRes.Guest.Name = "haha";
        ShowThisRes.StartDate = new DateTime(2021, 1, 1);
        //Reservations.Remove(ShowThisRes);
        ////ShowThisRes = null;
        ////Delete from DB
        //await ShowThisResChanged.InvokeAsync(null);
        //await ReservationsChanged.InvokeAsync(Reservations);
    }

    async Task Confirme()
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil bekræfte denne reservation?"))
            return;
        int i = Reservations.FindIndex(s => s == ShowThisRes);
        ShowThisRes.Confirmed = true;
        Reservations[i]=ShowThisRes;
        await ReservationsChanged.InvokeAsync(Reservations);
        await ShowThisResChanged.InvokeAsync(ShowThisRes);
    }
}
