@inject IJSRuntime JSRuntime

<h4>Gæsteinfo</h4>
@if (containerAdminHomePage.chosenReservation != null)
{
    <div>
        <b>Navn:</b> @containerAdminHomePage.chosenReservation.Guest.Name
    </div>

    <div>
        <b>Telefonnummer:</b> @containerAdminHomePage.chosenReservation.Guest.PhoneNumber
    </div>
    <div>
        <b>E-mail:</b> @containerAdminHomePage.chosenReservation.Guest.Mail
    </div>
    <div>
        <b>Adresse:</b> @containerAdminHomePage.chosenReservation.Guest.Address
    </div>
    <div>
        <b>Formål med leje:</b> @containerAdminHomePage.chosenReservation.Information
    </div>
   
    <div>
        <b>Startdato:</b> @containerAdminHomePage.chosenReservation.StartDate.ToString("dd MMM yyyy")
    </div>

    <div>
        <b>Slutdato:</b> @containerAdminHomePage.chosenReservation.EndDate.ToString("dd MMM yyyy")

    </div>


    <div class="button-row">
        @if (containerAdminHomePage.chosenReservation.Confirmed == null)
        {
            <button class="btn btn-primary" @onclick="Confirm">Bekræft</button>

        }
        <button class="btn btn-primary" @onclick="(() => containerAdminHomePage.ChangeEditMode())">Rediger</button>
        <button class="btn btn-primary" @onclick="DeleteReservation">@(containerAdminHomePage.chosenReservation.Confirmed != null ? "Slet" : "Annuller")</button>
    </div>






}

@code {
    [CascadingParameter]
    public AdminHomePage containerAdminHomePage { get; set; } //Contains all admin home page functions and properties

    async Task DeleteReservation() //Alert user, remove reservation from the list, and de-selects a chosen reservation
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil slette denne reservation?"))
            return;
        containerAdminHomePage.RemoveReservationFromReservationList(containerAdminHomePage.chosenReservation);
        containerAdminHomePage.UpdateChosenReservation(null);
    }

    async Task Confirm() //Alerts user and confirms a reservation
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", "Er du sikker på at du vil bekræfte denne reservation?"))
            return;
        containerAdminHomePage.ConfirmReservation(containerAdminHomePage.chosenReservation);
    }
}